@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');



.slick-arrow {
 width: 44px;
 height: 44px;
 background: #F0F2F3;
border-radius: 50%;
}

.slick-arrow:hover{
    background: #007580;
}


.slick-prev {
    font-size: 10px;
    position: absolute;
    right: 275px;
    top: -77px;
    z-index: 9999;
}

.slick-next {
   
    z-index: 999;
    top: -75px;
    position: absolute;
    right: 186px;
}